*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    background-image: linear-gradient(
        rgba(97, 47, 18, .692),
        rgba(97, 47, 18, .692)
    ),url('/Images/coffe.jpg');

    background-size: cover;
    background-position: center;
}

.navbar{
    height: 10%;
    display: flex;
}

.nav-left{
    flex-basis: 30%;
    background: white;
    position: relative;
}

.nav-icons{
    left: 10%;
    top: 10%;
    position: absolute;
}

.nav-icons ul li{
    display: inline-block;
    margin-right: 15px;
}

.nav-icons ul li i{
    color: grey;
}

.nav-right{
    flex-basis: 70%;
    position: relative;
}

.nav-menu{
    top: 20%;
    right: 5%;
    position: absolute;
}

.nav-menu ul li{
    display: inline-block;
    margin-left: 15px;
}

.nav-menu ul li a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}

.nav-menu ul li a:hover{
    color: violet;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.logo{
    color: white;
    font-family: 'Pacifico', cursive !important;
    font-size: 30px;
}

.content{
    height: 90%;
    display: flex;
}

.content-left{
    flex-basis: 30%;
    background: white;
    position: relative;
}

.social-media{
    left: 5%;
    bottom: 10%;
    position: absolute;
}

.social-media ul li{
    list-style: none;
    height: 30px;
    width: 30px;
    margin: 10px;
    text-align: center;
    line-height: 32px;
    background: grey;
}

.social-media ul li i{
    color: white;
}

.social-media ul li i:hover{
    color: yellow;
}

.content-right{
    flex-basis: 70%;
    position: relative;
}

.text{
    right: 10%;
    bottom: 15%;
    position: absolute;
}

/* .text h1, p{
    color: white;
    font-family: 'Pacifico', cursive;
} */

.text h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
}

.text p{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

.display{
    left: -23%;
    bottom: 20%;
    position: absolute;
}

.display img{
    height: 60%;
    width: 60%;
}